main {
    display: grid;
    grid-template-columns:1fr;
    text-align: center;
    gap: 1em;
    font-family: sans-serif;
    background-color: #002E5D;
    color: #fff;
}
main picture img[data-src]{
height: 400px;
}