@media only screen and (min-width: 55rem){

 
    /* stop displaying the nav button/ toggle */
    .nav-toggle {
      display: none;
    }

  /* display the flex as a row */
 .nav-items {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: right;
      padding: 1px 60px;
      margin-top: 1rem;
    }
/* display the logo as flex   */
.nav-header{
   display: flex;
   flex-direction: row;
   height: auto;
}
  /* style the nav links  */
    .nav-links {
      height: auto;
   
    }
  /* style the ul */
    ul { text-align: center;}

  /* display the links as a block */
    ul li {
      display: inline-block;
      border-bottom: none;
    }



  /* STYLE THE HOME PORTION */
  .home-text {margin: 12rem;}

  .home-text span {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
  
  }
  .home-text h1 {font-size: 3rem;}
/* style the paragraph */
.home-text p {
  font-size: 1.2rem;
  font-weight: 500;

}
/* STYLE THE CALL TO ACTION PORTION */


.drink-content{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

/* STYLE THE ACTION  */

.area-info{
  width: 100%;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 60px 20px;
  
  }

  /* STYLE THE FRESH PAGE */

  #fresh-box{ display: flex;}

#fresh-left{
    flex-basis: 60%;
    padding: 40px 60px;
    text-align: left;
    color:#800020;

}
#fresh-right{
    flex-basis: 40%;
    padding: 40px;
    text-align: left;
}    

/* STYLE THE WEATHER */

.weather{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items:center;
}
.weather-card img{
  width: 40%;
}
.weather-card{
  margin: 1px 10px 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width:500px;
  height: 300px;
  padding: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.4);
}

/* STYLE THE ABOUT US  */

.main-card{
  
  max-width: 95%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 2rem;
}

.main-card .content{
  padding: .5rem; 
  }  

#contact-us-box{
  display: flex;
 
  }
#contact-us-left{
  flex-basis: 60%;
  padding: 40px 60px;
  text-align: left;
  

}
#contact-us-right{
  flex-basis: 40%;
  padding: 40px;
  text-align: left;
}    


  /*  STYLE THE FOOTER  */



    


}/* END OF MEDIA QUERY */