@media only screen and (min-width: 64rem){
    /* style the body */
    body {
        font-family: 'Montserrat', sans-serif;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        margin: auto;
        width: 100%;
        text-align: center;    
    }
    nav{
        display: flex;
        justify-content: left;
    }

    nav button {
        display: none;
    }
    nav ul{
        padding: 1rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-left: 2vw;
     
    }

    nav ul li a{
        border: none;
        padding: .5rem 1rem;
        border-right: 1px solid rgba(0,0,0,0.5);
    }

    .social-media{
        width: 1040px;
        text-align: right;
        margin: 1rem auto;
   
    }


    .main-divs {
        display: grid;
        grid-template-columns: repeat(5, auto);
        gap: 10px;
    }
    .hero-action{
        grid-column: 2/5;
        grid-row: 1/4;
    
    }
    
    .event{
        grid-column: 1/2;
        grid-row: 1/2;
    
    }
    .news{
        grid-row: 4/5;
        grid-column: 2/6;
    
    }
    .spotlight{
        grid-column: 5/6;
        grid-row: 1/4;
    }
    
    div.spotlight {

        row-gap: 8px;
    }

    
    .join{
        grid-row: 4/5;
        grid-column: 1/2;
    }
    
    .weather{
        grid-row: 2/4;
        grid-column: 1/2;
    }
    
    .hero-action div picture{
        
        object-fit: fill;
    }
     .hero-action picture img{
        height: 835px;
        object-fit: fill;
    }
    
     .join-chamber{
        padding: 1rem 3.5rem;
    }

    #event-inv{
        top: 60px;
        right: 10px;
    }

    /* style the discover page */

    .main-card .content{
        margin:auto; 
    }  



    }

