@media only screen and (min-width: 64rem){
    /* style the body */
    body {
        font-family: 'Montserrat', sans-serif;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        margin: auto;
        width: 100%;
        text-align: center;    
    }

    nav button {
        display: none;
    }
    nav ul {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-left: 2vw;
        border-left: 1px solid rgba(0,0,0,0.5);

    }

    nav ul li a{
        border: none;
        padding: .5rem 1rem;
        border-right: 1px solid rgba(0,0,0,0.5);
    }


}