@media only screen and (min-width: 35rem){
    /* style the body */
    body {
        font-family: 'Montserrat', sans-serif;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        margin: auto;
        width: 100%;
        text-align: center;    
    }
    /* styling the header */
    header {
        display: flex;
        padding: 2rem 0;
        background-color: #002E5D;
        color: #D9D8D5;
    }

    #currDate{width: 100%;}
       
    nav ul li a {
        /* make the anchors clicable */
        display : block; 
        padding: .8rem 2vw; 
        /* removes the underline */
        text-decoration: none ;
        color: #D9D8D5;
        border-top: 1px solid rgba(0, 0, 0, 0.5);
        text-align: center;

    }
    nav ul li.active a {
        border-radius: 5px;
    }

    nav ul li a:hover {
        border-radius: 5px;
}
 
}/* End of media query */