@media only screen and (min-width: 40rem){
    /* style the body */
    body {
        font-family: 'Montserrat', sans-serif;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        margin: auto;
        width: 100%;
        text-align: center;    
    }
    /* styling the header */
    header {
        display: flex;
        padding: 2rem 0;
        background-color: #002E5D;
        color: #D9D8D5;
    }

    #currDate{width: 100%;}
       
    nav ul li a {
        /* make the anchors clicable */
        display : block; 
        padding: .8rem 2vw; 
        /* removes the underline */
        text-decoration: none ;
        color: #D9D8D5;
        border-top: 1px solid rgba(0, 0, 0, 0.5);
        text-align: center;

    }

    nav ul li.active a {
        border-radius: 5px;
    }

    nav ul li a:hover {
        border-radius: 5px;
    }


    .main-divs{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        }
    
    .hero-action {
        grid-row: 2;
        grid-column-start: 1;
        grid-column-end: 3;
    
    }
    .hero-action div picture img{
        
        height: auto;
    }
   
    .news { 
        grid-row: 5;
        grid-column-start: 1;
        grid-column-end: 3;
        }
    .spotlight-first { 
        grid-row: 4;
        grid-column: 1/2;
        }
    .spotlight-sec { 
        grid-row: 4;
        grid-column: 2/2;

    }
    .event {   
        grid-row: 3;
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .join {   
        grid-row: 6;
        grid-column: 1/2;
    }
    .join-chamber{
        padding: 1rem 3.5rem;
    }
    .weather { 
        grid-row: 6;
        grid-column: 2/2;
    }
    #event-inv{
        top: 80px;
        right: 10px;
    }

    
    footer .logo-image{
        float: left;
        margin: .2rem 2vw;
    }
    .start{
        float: left;
        display: flex;
    }
    footer .logo-image{
        margin: .2rem 2vw;

    }
    .mid{
        float: right;
    }
    .end{
        clear: both;
        padding-top: 2rem;
        text-align: center;
    }


/* style the discover page */
.main-card{
    background-color: #002E5D;
    color:#DCD1D1;
    max-width: 95%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 2rem;
}

.main-card .content{
        padding: .5rem; 
    }  


}/* End of media query */