/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* style the body */
body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: auto;
    width: 100%;
    background-color:#800020;
        
}
/* styling the header */
header {
    display: flex;
    background-color: #002E5D;
    color: #D9D8D5;
    padding: 5px 0;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

/* style the chamber name and slogan */
.logo-heading {
	display: flex;
	align-items: center;
	margin:0 1rem;;
}
.logo-heading h1 {
	font-size: 1.5rem;
}
.m {
	letter-spacing: 1pt;
	font-weight: 700;
	font-size: 0.8rem;
    font-style: italic;
}

.header-content  {
	display: flex;
	flex-direction: column;
	margin-left: .5rem;
    padding: 2px;
}

/* style the logo image */
header img{
    width: 100px;
	height: auto;
    border-radius: 50%;
    margin: .2rem 2vw;

}

/* style the current date */
#currDate{
    background-color:#002E5D;
    padding: 1rem;
    width: 100%;
    text-align: center;
    color: #DCD1D1;
    font-size: small;

}
/* Apply the hover color to the date */
#currDate:hover{
    background-color: #DCD1D1;
    color: #000;
}

/* style the social media  */
.social-media{
    color:#002E5D; 
    font-size: 1.5rem; 
    text-align: center;
    padding-bottom: 1rem;
}
.social-media i{
    padding: .2rem;
}
/* social media hoover color */
.social-media i:hover{
    color: #D9D8D5;
}

nav button{
    /* veiw width removes it from the left side of the screen */
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: #555; 
    border-radius: 10px;
    text-align: left;

}

nav{
    background-color: #800020;
    display: grid;
   
}
/* removing the dots of the ul  */
nav ul {
    list-style-type: none;
    /* remove large spaces at the beginning of the navigation  */
    padding: 0; 
    margin: 0; 
}

nav ul li a {
    /* make the anchors cliclable */
    display : block; 
    padding: .8rem 2vw; 
    /* removes the underline */
    text-decoration: none ;
    color: #D9D8D5;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    text-align: center;
   
}
nav ul li.active a {
    background-color: #002E5D ;
    color: #fff;
   
}

nav ul li a:hover {
    background-color: #DCD1D1;
    color: #333;
    
}
nav ul {display: none;}
nav ul.open{display: block;}

/* stlying the humburger menu */

#hamburgerBtn span:nth-child(1) {
    display: block;
    color:#D9D8D5;
    margin: .2rem 2vw;
}

#hamburgerBtn span:nth-child(2) {
    display: none;
    color:#D9D8D5;
    margin: .2rem 2vw;
}

#hamburgerBtn.open span:nth-child(1) {
    display: none;
}

#hamburgerBtn.open span:nth-child(2) {
    display: block;
}

nav div i:hover{
    background-color:#002E5D ;
    border-radius: 10px;
}
/* style the main */
main{
    margin: 12px;
    margin: 5px;
}


main p{
    text-align: center;
    padding: 4rem;
}
/* style the footer */
footer{
    background-color:#002E5D;
    color: #D9D8D5;
    margin: .5rem 0;
    text-align: center;
    padding: 1.5rem;
   
}
nav div i{
    font-size: 2rem;
    padding: 5px;
}
.logo-image img{
    width: 5rem;
    border-radius: 50%;
    margin:auto;
    padding: 0;
}

.map-link{
    color: #D9D8D5;
}

main picture img{
    width: 100%;
}

/* position event box on hero section  */
.hero-action{
    position: relative;
    background-color: #002E5D;
}

/* make the images adaptable */
.hero-action div img{
    margin: 0;
    width: 100%;
    height: 250px;
}

.hero-action picture{
    width: 100%;
    height: auto;

}
.hero-action picture img{
    width: 100%;
    height: auto;
}


#event-inv{
    position: absolute;
    color: #D9D8D5;
    top: 20px;
    right: 10px;
    background-color:#002E5D ;
    box-shadow: 0 0 30px #333;
    opacity: 1;
    width: 30%;
    height: auto;
    padding: 1rem;
}
.welcome-text{
    position: absolute;
    color: white;
    font-weight: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.join{
    text-align: center;
    background: #002E5D;
    color:#D9D8D5;
    padding-top: 1rem;
}

.join-us-btn{
    background-color: #800020;
    padding: 1rem 3.5rem;
    border: 5px solid #002E5D;
    border-radius: 10px;
    color: #DCD1D1;
    margin:1rem;
    
}
.join-us-btn:hover{
    background-color:#9f4f40;
}
/* style the weather */
.weather{
    background-color: #002E5D;
    color: #DCD1D1;
    text-align: center;
    
}
.weather h2{
    padding: 1rem;
}
.weather hr{
   width: 80%;
}
.weather p{
    padding: .5rem;
}


/* style the news */
.news{
    background-color: #002E5D;
    color:#DCD1D1;
    padding: 1px;
}
.news h2{
    text-align: center;
}

/* style the spotlight first div */ 
.spotlight-first{
    background-color: #002E5D;
    color:#DCD1D1;
  
}

/* spotlight first image */
.spotlight-first img{
    width: 100%;
    height: 210px;
    padding: .2rem;
}
/* spotlight second div */
.spotlight-sec{
  
   background-color: #002E5D;
   color:#D9D8D5;

}

.spotlight-sec picture img{
    display: block;
    width: 100%;
    height: 210px;
    padding: .2rem;

}

/* hide the images by default */
.mySlides {
    display: none;
  }

  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }  

/* style the event message */
div#event{
    background-color: #800020;
    border: 5px solid #002E5D;
    color: #DCD1D1;
}

div.showme {display:block;}
div.hideme {display:none;}


.fa {
    font-size: 40px;
    color:#D9D8D5; 
    padding: .5rem;  
}
.event{
    background-color: #002E5D;
    color:#D9D8D5;
}