@media only screen and (min-width: 500px){
/* style the body*/
body{
    font-size: 16px;
}
/* style the maim  */
main {
    grid-template-columns: 1fr 1fr;
}
section:nth-child(3){
    grid-column: span 2;
}
section:nth-child(3) h3{
    margin: -.5rem -.7rem 1rem -.7rem;
} 

section a{ font-size: 12px;
}
}
/* end of media query*/