/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/* add margin to the outside and subtract padding from the inside*/
* { -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box; box-sizing:
    border-box;
}

/* style the body */
body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin: auto;
    width: 100%;
    text-align: center;    
}

/*----------- HEADER --------------*/
header {
    padding: .5rem;
    background-color: #002E5D;
    display: grid;
    grid-template-columns: 75px auto;
    color: #D9D8D5;
    

}
header div {margin: auto;}
header h1 { margin: 0;
            padding-left: 7rem;
        }

header figure img{
    width: 9rem;
    border-radius: 50%;
}
/*----------- NAVIGATION --------------*/
nav {
    background-color:#800020;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    color: #eee;
    padding: .5rem 0;
    text-decoration: none;
    font-size: .9rem;
    text-align: center;
}


nav ul li a:hover {
    background-color: #DCD1D1;
    color: #333;
}
nav ul li.active a {
    background-color: #000;
    color: #fff;
}
/*----------- MAIN --------------*/
main {
    padding: 0 2%;
    min-height: 10rem;
    text-align: left;
}


img{
    width:80%;
    margin: 2rem;
}


.logo{
    width: 9rem;
    border-radius: 50%;
}


/* style the footer */
footer{
    background-color:#002E5D;
    color: #D9D8D5;
    margin: .5rem 0;
    text-align: center;
    padding: 1.5rem;
   
}

/* typography page  */
.royal-blue{
    display: flex;
    background-color: #002E5D;
    padding: 4rem;
    width: 30px;
    height: 20px;
    justify-content: center;
    margin:2rem;
    color: #D9D8D5;
}
.burgundy{
    display: flex;
    background-color:#800020;
    padding: 4rem;
    width: 30px;
    height: 20px;
    justify-content: center;
    margin:2rem;
    color: #D9D8D5;
}
.logo-color{
    display: flex;
    background-color:#9f4f40;
    padding: 4rem;
    width: 30px;
    height: 20px;
    justify-content: center;
    margin:2rem;
    color: #D9D8D5;
}
.hoover-color{
    display: flex;
    background-color:#DCD1D1;
    padding: 4rem;
    width: 30px;
    height: 20px;
    justify-content: center;
    margin:2rem;
    color: #3d3828;
}
.active-color{
    display: flex;
    background-color:#000;
    padding: 4rem;
    width: 30px;
    height: 20px;
    justify-content: center;
    margin:2rem;
    color: #D9D8D5;
    
}
.colors{
    display:grid;
    grid-template-columns: 1fr;
}
.color-explain{
    text-align: left;
}