
body{
    margin: auto;
    width: 50%;
}

li {
    margin: 10px;
}


img{
    margin-left: 20px;
    border-radius:5px;
}


h2{
    margin: auto;
    text-align:center;
    font-family: Helvetica, Sans-Serif;
    font-size: 30px;
    color:#FFF8DC;

}
header{
    background-color: #4973f0;
    height: 250px;
    display:flex;
    align-items: center;
    margin: auto;
    border-radius: 10px;
    
}

footer{
    background-color:#4973f0;
    margin: 30px auto;
    text-align:center;
    padding: 7px 7px;
    border-radius: 10px;
    color:#FFF8DC;
}
#lastMod{
    color: yellow;
}